<div class="demo-mc p-16">
    <header>

        <mn-fill>
            <mn-col [span]="3">金投赏品牌创意大赛创意轮播监测</mn-col>
            <mn-col [span]="1">
                <mn-row class="logo" [style.height.%]="100">
                    <mn-col [span]="3" class="logo-mc"></mn-col>
                    <mn-col [span]="3" class="logo-roi"></mn-col>
                    <mn-col [span]="12" class="logo-admaster"></mn-col>
                    <mn-col [span]="6" class="logo-weibo"></mn-col>
                </mn-row>
            </mn-col>
        </mn-fill>

    </header>

    <mn-echarts-panel class="mt-8 bordered"
                      [style.height.px]="380"
                      [title]="'创意每日播放量'"
                      [data]="data"
                      [type]="'line'"
                      [tools]="['fullscreen', 'download', 'data_view', 'line', 'bar', 'exchange', 'rate', 'label_all', 'legend', 'reload']"
                      [setting]="{stack: false, area: false}">
    </mn-echarts-panel>

    <mn-row class="mt-8" [gutter]="16">

        <mn-col [span]="12">
            <mn-echarts-panel class="mt-8 bordered"
                              [title]="'总播放量'"
                              [data]="total_data"
                              [type]="'bar'"
                              [style.height.px]="380">
            </mn-echarts-panel>
        </mn-col>

        <mn-col [span]="12">
            <mn-echarts-panel class="mt-8 bordered"
                              [title]="'播放占比'"
                              [data]="total_data"
                              [type]="'pie'"
                              [setting]="{convert: ['x-:>name']}"
                              [style.height.px]="380">
            </mn-echarts-panel>
        </mn-col>

    </mn-row>

</div>