$col-1: 4.16666667%;
$col-2: 8.33333333%;
$col-3: 12.5%;
$col-4: 16.66666667%;
$col-5: 20.83333333%;
$col-6: 25%;
$col-7: 29.16666667%;
$col-8: 33.33333333%;
$col-9: 37.5%;
$col-10: 41.66666667%;
$col-11: 45.83333333%;
$col-12: 50%;
$col-13: 54.16666667%;
$col-14: 58.33333333%;
$col-15: 62.5%;
$col-16: 66.66666667%;
$col-17: 70.83333333%;
$col-18: 75%;
$col-19: 79.16666667%;
$col-20: 83.33333333%;
$col-21: 87.5%;
$col-22: 91.66666667%;
$col-23: 95.83333333%;
$col-24: 100%;