<section class="p-16">
    <mn-panel-s class="bordered mt-16" title="Multiple Calendar">
        <mn-fill>
            <mn-col [style.width.px]="120">
                <mn-datetime-quick
                        [mnQuick]="quicks"
                        (mnResult)="a = $event"
                ></mn-datetime-quick>
            </mn-col>
            <mn-col [span]="1">
                <mn-calendar-multiple
                        [mnStartDate]="a?.startDate"
                        [mnEndDate]="a?.endDate"
                        [mnMinDate]="'2015-06-11'"
                        [mnMaxDate]="'2027-11-16'"
                        (mnResult)="result($event)"
                ></mn-calendar-multiple>
            </mn-col>
        </mn-fill>
    </mn-panel-s>

    <mn-panel-s class="bordered mt-16" title="Datetime Picker">
        <mn-datetimepicker></mn-datetimepicker>
    </mn-panel-s>


    <!--<div *mnLayer>江山如此多娇</div>-->
    <!--<ng-template mnLayer>-->
        <!--<div>-->
            <!--<mn-panel-s [title]="'ABCD::abc'">-->

            <!--引无数英雄竞折腰-->
            <!--</mn-panel-s>-->
        <!--</div>-->
    <!--</ng-template>-->

    <!--<mn-panel-s class="bordered mt-16" title="Single Calendar">-->
        <!--<mn-calendar></mn-calendar>-->
    <!--</mn-panel-s>-->

    <!--<mn-panel-s class="bordered mt-16" title="Simple Calendar">-->
        <!--<mn-calendar-view-->
                <!--[year]="2017"-->
                <!--[month]="7"-->
                <!--[day]="10">-->
            <!--(result)="getView($event)">-->
        <!--</mn-calendar-view>-->
    <!--</mn-panel-s>-->
</section>

