<mn-panel-s [title]="'Create Modal'">

    <button mn-btn class="info"
            (click)="createModal({
            title: 'this is a modal::sub menu',
            content: 'Read for one'
        })">Create Modal
    </button>

    <button mn-btn class="info"
            (click)="createModal({
                id: 'c2',
                title: 'this is a modal 22::sub menu',
                component: a,
                mask: false
            })">Create 2 Modal
    </button>

    <button mn-btn class="info"
            (click)="createModal({
                title: 'template 3',
                template: abc
            })">Create 3 template
    </button>

    <button mn-btn class="primary" (click)="test.modal = true">Page Modal</button>

    <mn-modal [mnTitle]="'静夜思'" [(mnOpen)]="test.modal">
        <div>床前明月光</div>
        <div>疑是地上霜</div>
        <div>举头望明月</div>
        <div>低头思故乡</div>
    </mn-modal>

    <button mn-btn class="primary" (click)="test.open2 = true">Page Modal 2</button>

    <mn-modal [mnTitle]="'春晓'" [mnComponent]="a" [(mnOpen)]="test.open2">
    </mn-modal>

</mn-panel-s>

<mn-panel-s [title]="'Create Notify'">
    <button mn-btn class="info"
            (click)="createNotify({
            type: 'error',
            content: 'this is a error'
        })">Create Error Notify
    </button>

    <button mn-btn class="primary"
            (click)="createNotify({
                type: 'warning',
                content: 'warning',
                delay: 0,
                closeBtn: true
            })">Create Warn Notify
    </button>
</mn-panel-s>
