<mn-panel-s [title]="'Create Modal'">

    <button mn-btn class="info"
            (click)="createModal({
            title: 'this is a modal::sub menu',
            content: 'Read for one'
        })">Create Modal
    </button>

    <button mn-btn class="info"
            (click)="createModal({
                id: 'c2',
                title: 'this is a modal 22::sub menu',
                component: a,
                mask: false
            })">Create 2 Modal
    </button>

    <button mn-btn class="info"
            (click)="createModal({
                title: 'template 3'
            })">Create 3 template
    </button>

    <button mn-btn class="primary" (click)="test.modal = true">Page Modal</button>

    <mn-modal [mnTitle]="'静夜思'" [(mnOpen)]="test.modal">
        <div>床前明月光</div>
        <div>疑是地上霜</div>
        <div>举头望明月</div>
        <div>低头思故乡</div>
    </mn-modal>

    <button mn-btn class="primary" (click)="test.open2 = true">Page Modal 2</button>

    <mn-modal [mnTitle]="'春晓'" [mnComponent]="a" [(mnOpen)]="test.open2">
    </mn-modal>

</mn-panel-s>

<mn-panel-s [title]="'Create Notify'">
    <button mn-btn class="info"
            (click)="createNotify({
            type: 'error',
            content: '君不见黄河之水天上来'
        })">Create Error Notify
    </button>

    <button mn-btn class="primary"
            (click)="createNotify({
                type: 'warning',
                content: '君不见高堂明镜悲白发<br />朝如青丝暮成雪',
                delay: 0,
                closeBtn: true
            })">Create Warn Notify
    </button>
</mn-panel-s>

<mn-panel-s [title]="'DropDown'">

    <mn-dropdown>
        <button mn-btn class="info">DropDown</button>
        <mn-dropdown-content class="p-8 mnc-block">
            <ul>
                <li>离离原上草</li>
                <li>一岁一枯荣</li>
                <li>野火烧不尽</li>
                <li>春风吹又生</li>
            </ul>
        </mn-dropdown-content>
    </mn-dropdown>
</mn-panel-s>

<mn-panel-s [title]="'Tooltip'">

    <div>
        天地不仁以万物为<span mnTooltip="chu gou">刍狗</span>, 圣人不仁，以百姓为刍狗。天地之间，其犹<mn-tooltip [mnTip]="'tuo ye'">橐龠</mn-tooltip>乎？虚而不屈，动而愈出。多言数穷，不如守中。
    </div>

</mn-panel-s>
