<panel-s title="Angular detection 脏值检测">

    <div>* ng2 使用 https://github.com/angular/zone.js 来监视Component的数据变化, 并在需要的时候渲染 render dom</div>

    <div>* ng2 的变更检测永远是从 root 开始，从上至下, 一直到最底层</div>

    <div>* 一旦数据链中任意支点产生数据变化, 则变更检测重新从root开始; 但是而在 ng2 的 change detection 中，子 component 如果在 change detection cycle 中有任意变更它的父 component 的行为，都会抛出异常从而终止。也就是说同样是 $digest cycle，在 ng 2 中变成了单向的可预测的</div>

    <code>
        {{ "@Component({ changeDetection: ChangeDetectionStrategy.OnPush })" }}
    </code>

    <h5>检测数值变化</h5>

    {{counter_1}}

    <button btn class="primary" (click)="isDetection = !isDetection">
        {{isDetection ? '停止监测' : '开始监测'}}
    </button>

    <h5>子Component (从上到下, 子继承父)</h5>
    <ngx-detection-child [counter_2]="counter_1"></ngx-detection-child>

    <h5>子Component (从上到下, 子继承父)</h5>
    <ngx-detection-child-1 [counter_2]="counter_1"></ngx-detection-child-1>
</panel-s>