<div [style.padding.px]="16">
    <panel class="light bordered" [collapse]="'up'">
        <panel-header>
            <panel-title>
                {{title}}
            </panel-title>
            <panel-toolbar [tools]="['collapse', 'fullscreen']">
                <cols [order]="21" [gutter]="'4,4'">
                    <i class="fa fa-battery-1" aria-hidden="true"></i>
                </cols>
            </panel-toolbar>
        </panel-header>

        <panel-body>
            <row [style.minHeight.px]="200" [gutter]="16">
                <cols [span]="4">
                    <div>1</div>
                </cols>
                <cols [span]="8">
                    <div>2</div>
                </cols>
                <section cols [span]="8">
                    <div>3</div>
                </section>

                <div cols [span]="4">
                    <div>4</div>
                </div>
            </row>
        </panel-body>

        <panel-bottom></panel-bottom>
    </panel>

    <panel-s class="mt-16 primary bordered" [title]="'将进酒'" [tools]="['collapse']">
        君不见黄河之水天上来, 奔流到海不复回 <br />
        君不见高堂明镜悲白发, 朝如青丝暮成雪
    </panel-s>

    <panel type="portlet" class="mt-16 light bordered">
        <panel-header>
            <panel-title>
                {{title}}
                <small>flex layout</small>
            </panel-title>
            <panel-toolbar [tools]="['fullscreen', 'collapse', 'remove']">
            </panel-toolbar>
        </panel-header>

        <panel-body>
            <row [style.minHeight.px]="200" [gutter]="16">
                <cols [span]="9">
                    <div class="bordered">1</div>
                </cols>
                <cols [span]="6">
                    <div class="bordered">2</div>
                </cols>
                <section cols [span]="6">
                    <div class="bordered">3</div>
                </section>

                <div cols [span]="3">
                    <div class="bordered">4</div>
                </div>
            </row>
        </panel-body>
    </panel>

    <h3>Collapse</h3>

    <collapse class="bordered" [accordion]="0">
        <panel>
            <panel-header>
                <panel-title>
                    Panel - 1
                </panel-title>
                <panel-toolbar [tools]="['collapse']"></panel-toolbar>
            </panel-header>
            <panel-body>

                <panel-s class="primary" title="清平调<small>李白</small>">
                    云想衣裳花想容，<br />
                    春风拂槛露华浓。<br />
                    若非群玉山头见，<br />
                    会向瑶台月下逢
                </panel-s>

                <panel class="primary">
                    <panel-header>
                        <panel-title>
                            Panel - 1 - 2
                        </panel-title>
                        <panel-toolbar [tools]="['collapse']"></panel-toolbar>
                    </panel-header>
                    <panel-body>
                        1 - 1
                    </panel-body>
                </panel>

            </panel-body>
        </panel>

        <panel>
            <panel-header>
                <panel-title>
                    Panel - 2
                </panel-title>
                <panel-toolbar [tools]="['collapse']"></panel-toolbar>
            </panel-header>

            <panel-body>
                2
            </panel-body>
        </panel>
    </collapse>

    <collapse class="mt-16 bordered" [accordion]="1">
        <panel-s title="赤壁 <small>杜牧</small>">
            折戟沉沙铁未销，<br />
            自将磨洗认前朝。<br />
            东风不与周郎便，<br />
            铜雀春深锁二乔。
        </panel-s>
        <panel-s title="蝉 <small>李商隐</small>">
            本以高难饱，徒劳恨费声。<br />
            五更疏欲断，一树碧无情。<br />
            薄宦梗犹泛，故园芜已平。<br />
            烦君最相警，我亦举家清。
        </panel-s>
        <panel-s title="送人东游 <small>温庭筠</small>">
            荒戌落黄叶，浩然离故关。<br />
            高风汉阳渡，初日郢门山。<br />
            江上几人在，天涯孤棹还。<br />
            何当重相见，樽酒慰离颜。
        </panel-s>
    </collapse>

    <h3>Button</h3>

    <panel-s class="bordered" title="按钮基本样式::Base Button">
        <div>
            <button btn>Default</button>
            <button btn class="primary">Primary</button>
            <button btn class="success">Success</button>
            <button btn class="info">Info</button>
            <button btn class="warning">Warning</button>
            <button btn class="danger">Danger</button>
            <button btn class="transparent">Transparent</button>
            <button btn class="primary" disabled>Disabled</button>
        </div>

        <div class="mt-8">
            <button btn>Default</button>
            <button btn class="primary light">Primary</button>
            <button btn class="success light">Success</button>
            <button btn class="info light">Info</button>
            <button btn class="warning light">Warning</button>
            <button btn class="danger light">Danger</button>
            <button btn class="transparent light">Transparent</button>
            <button btn class="transparent" disabled>disabled</button>


        </div>
    </panel-s>

</div>

<style>
    cols > div,
    [cols] > div {
        background: #00b3ee;
        height: 100%;
    }

    [type="portlet"] cols > div,
    [type="portlet"] [cols] > div {
        background: #fff;
    }

</style>
