button {
    .abc {
        background: #ccc;
        @at-root .cccccccc  & {
            color: #f00;
        }
    }
}

a {
    font-weight: bold;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    body.firefox & { font-weight: normal; }
}