<div [style.padding.px]="16">
    <panel class="light bordered" [collapse]="'up'">
        <panel-header>
            <panel-title>
                {{title}}
            </panel-title>
            <panel-toolbar [tools]="['collapse', 'fullscreen']">
                <cols [order]="21" [gutter]="'4,4'">
                    <i class="fa fa-battery-1" aria-hidden="true"></i>
                </cols>
            </panel-toolbar>
        </panel-header>

        <panel-body>
            <row [style.minHeight.px]="200" [gutter]="16">
                <cols [span]="4">
                    <div>1</div>
                </cols>
                <cols [span]="8">
                    <div>2</div>
                </cols>
                <section cols [span]="8">
                    <div>3</div>
                </section>

                <div cols [span]="4">
                    <div>4</div>
                </div>
            </row>
        </panel-body>

        <panel-bottom></panel-bottom>
    </panel>

    <panel-s class="mt-16 primary bordered" [title]="'将进酒'" [tools]="['collapse']">
        君不见黄河之水天上来, 奔流到海不复回 <br />
        君不见高堂明镜悲白发, 朝如青丝暮成雪
    </panel-s>

    <panel type="portlet" class="mt-16 light bordered">
        <panel-header>
            <panel-title>
                {{title}}
                <small>flex layout</small>
            </panel-title>
            <panel-toolbar [tools]="['fullscreen', 'collapse', 'remove']">
            </panel-toolbar>
        </panel-header>

        <panel-body>
            <row [style.minHeight.px]="200" [gutter]="16">
                <cols [span]="9">
                    <div class="bordered">1</div>
                </cols>
                <cols [span]="6">
                    <div class="bordered">2</div>
                </cols>
                <section cols [span]="6">
                    <div class="bordered">3</div>
                </section>

                <div cols [span]="3">
                    <div class="bordered">4</div>
                </div>
            </row>
        </panel-body>
    </panel>

    <h3>Collapse</h3>

    <collapse class="bordered" [accordion]="0">
        <panel>
            <panel-header>
                <panel-title>
                    Panel - 1
                </panel-title>
                <panel-toolbar [tools]="['collapse']"></panel-toolbar>
            </panel-header>
            <panel-body>

                <panel-s class="primary" title="清平调<small>李白</small>">
                    云想衣裳花想容，<br />
                    春风拂槛露华浓。<br />
                    若非群玉山头见，<br />
                    会向瑶台月下逢
                </panel-s>

                <panel class="primary">
                    <panel-header>
                        <panel-title>
                            Panel - 1 - 2
                        </panel-title>
                        <panel-toolbar [tools]="['collapse']"></panel-toolbar>
                    </panel-header>
                    <panel-body>
                        1 - 1
                    </panel-body>
                </panel>

            </panel-body>
        </panel>

        <panel>
            <panel-header>
                <panel-title>
                    Panel - 2
                </panel-title>
                <panel-toolbar [tools]="['collapse']"></panel-toolbar>
            </panel-header>

            <panel-body>
                2
            </panel-body>
        </panel>



    </collapse>

</div>

<style>
    cols > div,
    [cols] > div {
        background: #00b3ee;
        height: 100%;
    }

    [type="portlet"] cols > div,
    [type="portlet"] [cols] > div {
        background: #fff;
    }

</style>
