<mn-tab></mn-tab>


<pre>
    <code type="html">

    &lt;mn-tabs>

        &lt;mn-tab>

            &lt;mn-tab-name>

            &lt;/mn-tab-name>

            &lt;mn-tab-content>


            &lt;/mn-tab-content>

        &lt;/mn-tab>

    &lt;/mn-tabs>

</code>
</pre>


<!--<mn-tabs>-->
    <!--<mn-tab [mnTitle]="'Tab1'" [mnComponent]="component" [mnOrder]="0" [mnActive]="true">-->
        <!--<mn-tab-title [mnOrder]="0" [mnActive]="true">-->

        <!--</mn-tab-title>-->
        <!--<mn-tab-content>-->

        <!--</mn-tab-content>-->
    <!--</mn-tab>-->
<!--</mn-tabs>-->