<div class="demo-req">

    <mn-panel-s class="bordered" title="ReqHttp"
        [tools]="[reload]">
        <req-http [req]="user_req" (result)="user_data = $event.data">
            {{user_data | json}}
        </req-http>
    </mn-panel-s>

    <mn-panel-s class="bordered mt-8" title="ReqResource"
             [tools]="[{
                name: 'reload',
                click: resource_reload
             }]">

        <req-resource [pool]="_rp"
                      [req]="{method: 'get', key: 'demo' }"
                      [params]="resource_params"
                      (result)="demo_data = $event.data">
            {{demo_data | json}}
        </req-resource>
    </mn-panel-s>


    <mn-panel-s class="bordered mt-8" title="ReqDownload">
        <row>
            <cols [span]="8">
                <button btn (click)="download($event)">（文本）CSV 文件下载</button>
            </cols>
            <cols [span]="8">
                <button btn (click)="csvDownload($event)">（文本）多维数组转CSV下载 </button>
            </cols>
            <cols [span]="8">
                <button btn (click)="zipDownload($event)">（二进制流）压缩包下载</button>
            </cols>
        </row>
    </mn-panel-s>

</div>
