<div class="p-16" [style.height.px]="height">

    <!--<mn-echarts-panel class="bordered" title="EchartsPanel::bar mn-panel && tools"-->
    <!--[hph]="true"-->
    <!--[req]="{url: './assets/store/echarts-bar-nodata.json'}"-->
    <!--[type]="'bar'"-->
    <!--[setting]="{legend_show: false, legend_position: 'center bottom', rotate: 20}">-->
    <!--</mn-echarts-panel>-->

    <!--<mn-echarts-box class="bordered"-->
    <!--[req]="{url: './assets/store/echarts-radar.json'}"-->
    <!--[type]="'radar'"-->
    <!--[show_tools]="'show'"-->
    <!--[loader]="abc"-->
    <!--[setting]="{legend_show: false, tooltip: true}">-->
    <!--</mn-echarts-box>-->

    <!--<mn-panel-s class="mt-8 bordered" title="MnEchartsServices::data conversion options" mnElement #abc="element">-->
    <!--<mn-req [req]="{url: './assets/store/pie.json'}"-->
    <!--[loader]="abc.elementRef"-->
    <!--(result)="pie_data = $event.data">-->
    <!--<mn-row>-->
    <!--<mn-col [span]="12">-->
    <!--<mn-echarts-->
    <!--[data]="pie_data"-->
    <!--(result)="options = $event.options"-->
    <!--[type]="'pie'" [setting]="{subtype: 'annular', legend_show: false, selected: 1}" [style.height.px]="300">-->
    <!--</mn-echarts>-->
    <!--</mn-col>-->
    <!--</mn-row>-->
    <!--</mn-req>-->
    <!--</mn-panel-s>-->

    <!--<mn-echarts-panel class="bordered" title="EchartsPanel::bar mn-panel && tools"-->
                      <!--[req]="{url: './assets/store/echarts-bar.json'}"-->
                      <!--[type]="'bar'"-->
                      <!--[show_tools]="'show'"-->
                      <!--[tools]="['fullscreen', 'download', 'data_view', 'sort', 'line', 'bar', 'exchange', 'rate', 'label_all', 'legend',  'reload']"-->
                      <!--[setting]="{legend_show: false, legend_position: 'center bottom', rotate: 20}"-->
                      <!--[hph]="'auto'"-->
                      <!--height="300px">-->
    <!--</mn-echarts-panel>-->

    <!--<mn-echarts [type]="'map'" [options]="{-->
        <!--series: [{-->
            <!--type: 'map',-->
            <!--map: 'china'-->
        <!--}]-->
    <!--}" [style.height.px]="400">-->
    <!--</mn-echarts>-->

    <mn-echarts-panel class="bordered" title="EchartsPanel::map mn-panel && tools"
                      [req]="{url: './assets/store/echart-map.json'}"
                      [mnReqResult]="_abc"
                      [type]="'map'"
                      [hph]="'auto'"
                      height="300px">
    </mn-echarts-panel>

    <!--<div class="mt-16 mb-16" mnElement #abc="element" [ngStyle]="{'height': '200px', 'background': '#f00'}">-->

    <!--</div>-->

</div>


