<div class="p-16" [style.height.px]="height">

    <mn-echarts-panel class="bordered" title="EchartsPanel::bar mn-panel && tools"
                      [hph]="true"
                      [req]="{url: './assets/store/echarts-bar.json'}"
                      [type]="'bar'"
                      [tools]="['fullscreen', 'download', 'data_view', 'sort', 'line', 'bar', 'exchange', 'rate', 'label_all', 'legend',  'reload']"
                      [setting]="{legend_show: false, legend_position: 'center bottom', rotate: 20}">
    </mn-echarts-panel>

</div>


