@import "assets/scss/cols24";
@import "assets/scss/margin";
@import "assets/scss/padding";

$w: 8px;
$w2: 2 * $w;
$w3: 3 * $w;
$w4: 4 * $w;
$w5: 5 * $w;
$w6: 6 * $w;
$w7: 7 * $w;
$w8: 8 * $w;
$w9: 9 * $w;
$w10: 10 * $w;

$gray_color: #999;

$light_background_color: #fff;
$light_border_color: #e7ecf1;

$primary_background_color: #3598dc;
$primary_border_color: #d2eafb;



*, ::before, ::after {
    box-sizing: border-box;
}

/**
 * flex-layout
 */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24 {
    flex: 0 0 auto;
}

.col-1 {
    width: $col-1;
}

.col-2 {
    width: $col-2;
}

.col-3 {
    width: $col-3;
}

.col-4 {
    width: $col-4;
}

.col-5 {
    width: $col-5;
}

.col-6 {
    width: $col-6;
}

.col-7 {
    width: $col-7;
}

.col-8 {
    width: $col-8;
}

.col-9 {
    width: $col-9;
}

.col-10 {
    width: $col-10;
}

.col-11 {
    width: $col-11;
}

.col-12 {
    width: $col-12;
}

.col-13 {
    width: $col-13;
}

.col-14 {
    width: $col-14;
}

.col-15 {
    width: $col-15;
}

.col-16 {
    width: $col-16;
}

.col-17 {
    width: $col-17;
}

.col-18 {
    width: $col-18;
}

.col-19 {
    width: $col-19;
}

.col-20 {
    width: $col-20;
}

.col-21 {
    width: $col-21;
}

.col-22 {
    width: $col-22;
}

.col-23 {
    width: $col-23;
}

.col-24 {
    width: $col-24;
}

.bordered {
    border: 1px solid $light_border_color;

    &.light {
        border: 1px solid $light_border_color;
    }

    &.primary {
        border: 1px solid $primary_border_color;
    }
}

.light-bg {
    background: $light_background_color;
}

.primary-bg {
    background: $primary_background_color;
}

small {
    font-size: 11px;
    font-style: normal;
    color: $gray_color;
}

i.fa {
    cursor: pointer;
}

.full-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    zoom: 1;
    z-index: 99;
}

/**
 * Panel
 */

panel,
panel-s,
panel-simple {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: $w;

    panel-header {
        position: relative;
        display: block;
        height: $w5;
        margin-left: -1px;
        margin-right: -1px;
        border-bottom: 1px solid $light_border_color;
        line-height: $w5;

        panel-title {
            display: block;
            padding-left: $w2;
            font-size: 18px;
            flex: 1;

            small {
                margin-left: $w;
            }
        }

        panel-toolbar {
            padding-right: $w2;
        }
    }

    panel-body {
        display: block;
        padding: $w2;
    }

    panel-bottom {
        display: block;
    }


    &.collapse-up {
        padding-bottom: 0;
        panel-header {
            border-bottom: 1px solid transparent !important;
        }
    }

    &.light {
        background: $light_background_color;

        panel-header {
            border-bottom: 1px solid $light_border_color;
            panel-title {
            }

            panel-toolbar {
            }
        }

        panel-body {
        }

        panel-bottom {
        }
    }

    &.primary {

        panel-header {
            border-bottom: 1px solid $primary_border_color;
            background: $primary_background_color;
            color: #fff;

            panel-title {
                small {
                    color: rgba(255, 255, 255, .6);
                }
            }

            panel-toolbar {
            }
        }

        panel-body {
        }

        panel-bottom {
        }
    }

    &[type='portlet'] {
        padding: $w $w2 $w;

        panel-header {
            height: $w6;
            panel-title {
                padding: 0 0 $w 0;
            }

            panel-toolbar {
                padding-right: 0;
            }
        }

        panel-body {
            padding: $w2 0;
        }

        panel-bottom {
        }
    }
}

