@import "assets/scss/cols24";
@import "assets/scss/margin";
@import "assets/scss/padding";
@import "assets/scss/_btn";

$w: 8px;
$w2: 2 * $w;
$w3: 3 * $w;
$w4: 4 * $w;
$w5: 5 * $w;
$w6: 6 * $w;
$w7: 7 * $w;
$w8: 8 * $w;
$w9: 9 * $w;
$w10: 10 * $w;

$gray_color: #999;

$light_background_color: #fff;
$light_border_color: #e7ecf1;

$primary_background_color: #3598dc;
$primary_border_color: #d2eafb;

$success_background_color: #36c6d3;
$success_border_color: #2bb8c4;

$warning_background_color: #F1C40F;
$warning_border_color: #dab10d;

$info_background_color: #659be0;
$info_border_color: #508edb;

$danger_background_color: #ed6b75;
$danger_border_color: #ea5460;

*, ::before, ::after {
    box-sizing: border-box;
}

.bordered {
    border: 1px solid $light_border_color;

    &.light {
        border: 1px solid $light_border_color;
    }

    &.primary {
        border: 1px solid $primary_border_color;
    }
}

.light-bg {
    background: $light_background_color;
}

.primary-bg {
    background: $primary_background_color;
}

small {
    font-size: 11px;
    font-style: normal;
    color: $gray_color;
}

i.fa {
    cursor: pointer;
}

.full-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    zoom: 1;
    z-index: 99;
}

body {
    font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

/**
 * Panel
 */
panel,
panel-s,
panel-simple {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: $w;

    panel-header {
        position: relative;
        display: block;
        height: $w5;
        margin-left: -1px;
        margin-right: -1px;
        border-bottom: 1px solid $light_border_color;
        line-height: $w5;

        panel-title {
            display: block;
            padding-left: $w2;
            font-size: 18px;
            flex: 1;

            small {
                margin-left: $w;
            }
        }

        panel-toolbar {
            padding-right: $w2;
        }
    }

    panel-body {
        display: block;
        padding: $w2;
    }

    panel-bottom {
        display: block;
    }

    &.collapse-up {
        padding-bottom: 0;
        panel-header {
            border-bottom: 1px solid transparent !important;
        }
    }

    &.light {
        background: $light_background_color;

        panel-header {
            border-bottom: 1px solid $light_border_color;
            panel-title {
            }

            panel-toolbar {
            }
        }

        panel-body {
        }

        panel-bottom {
        }
    }

    &.primary {

        panel-header {
            border-bottom: 1px solid $primary_border_color;
            background: $primary_background_color;
            color: #fff;

            panel-title {
                small {
                    color: rgba(255, 255, 255, .6);
                }
            }

            panel-toolbar {
            }
        }

        panel-body {
        }

        panel-bottom {
        }
    }

    &[type='portlet'] {
        padding: $w $w2 $w;

        panel-header {
            height: $w6;
            panel-title {
                padding: 0 0 $w 0;
            }

            panel-toolbar {
                padding-right: 0;
            }
        }

        panel-body {
            padding: $w2 0;
        }

        panel-bottom {
        }
    }
}

/**
 * Collapse
 */
collapse {
    > panel-s > panel,
    > panel {
        > panel-header {
            > panel-title {
                cursor: pointer;
            }
        }
    }
}

/**
 * btn
 */

[btn] {
    display: inline-block;

    &:hover {
        color: rgba(0, 0, 0, .3);
    }

    &.primary {
        background: $primary_background_color;
        border-color: $primary_background_color;
        color: #fff;

        &:hover {
            background: $light_background_color;
            color: $primary_background_color;
        }

        &.light {
            color: $primary_background_color;
            &:hover {
                background: $primary_background_color;
                color: #fff;
            }
        }
    }

    &.success {
        background: $success_background_color;
        border-color: $success_border_color;
        color: #fff;
        &:hover {
            background: $light_background_color;
            color: $success_background_color;
        }

        &.light {
            color: $success_background_color;
            &:hover {
                background: $success_background_color;
                color: #fff;
            }
        }

    }

    &.info {
        background: $info_background_color;
        border-color: $info_border_color;
        color: #fff;

        &:hover {
            background: $light_background_color;
            color: $info_background_color;
        }

        &.light {
            color: $info_background_color;
            &:hover {
                background: $info_background_color;
                color: #fff;
            }
        }
    }

    &.warning {
        background: $warning_background_color;
        border-color: $warning_border_color;
        color: #fff;
        &:hover {
            background: $light_background_color;
            color: $warning_background_color;
        }

        &.light {
            color: $warning_background_color;
            &:hover {
                background: $warning_background_color;
                color: #fff;
            }
        }
    }

    &.danger {
        background: $danger_background_color;
        border-color: $danger_border_color;
        color: #fff;
        &:hover {
            background: $light_background_color;
            color: $danger_background_color;
        }

        &.light {
            color: $danger_background_color;
            &:hover {
                background: $danger_background_color;
                color: #fff;
            }
        }
    }

    &.transparent {
        background: transparent;
        border-color: transparent;

        &:hover {
            color: rgba(0, 0, 0, .3);
        }
    }

    &.light {
        background: $light_background_color;
    }

    &[disabled] {
        background: #e2e2e2;
        color: rgba(0, 0, 0, .4);
        border: 1px solid rgba(0, 0, 0, .1);

        &:hover {
            background: rgba(226, 226, 226, .8);
            color: rgba(0, 0, 0, .3);
        }
    }

}
