<div class="demo-echarts">

    <panel-s class="bordered" title="echarts-render::injector options">
        <div echarts-render [options]="options_1" [style.height.px]="300">
        </div>
    </panel-s>

    <panel-s class="mt-8 bordered" title="echarts-render::req-http get options">
        <req-http [req]="{url: './assets/store/echarts-options-bar.json'}" (result)="bar_options = $event.data; barOptions($event.data)">
            <row>
                <cols [span]="12">
                    <div echarts-render [options]="bar_options" [style.height.px]="300">
                    </div>
                </cols>

                <cols [span]="12">
                    <div echarts-render [options]="bar_options2">
                    </div>
                </cols>
            </row>
        </req-http>
    </panel-s>

    <panel-s class="mt-8 bordered" title="EchartsService::data conversion options">
        <req-http [req]="{url: './assets/store/pie.json'}" (result)="pieConversion($event.data); pie_data = $event.data">
            <row>
                <cols [span]="12">
                    <div echarts-render [options]="pie_options" [style.height.px]="300">
                    </div>
                </cols>

                <cols [span]="12">
                    <echarts [data]="pie_data" [type]="'pie'" [setting]="{subtype: 'annular', legend_show: false, selected: 1}" [style.height.px]="300">
                    </echarts>
                </cols>
            </row>
        </req-http>
    </panel-s>

    <row [gutter]="16">
        <cols [span]="12">
            <echarts-panel class="mt-8 bordered" title="EchartsPanel::bar panel && tools"
                           [req]="{url: './assets/store/echarts-bar.json'}"
                           [type]="'bar'"
                           [tools]="['fullscreen', 'download', 'data_view', 'line', 'bar', 'exchange', 'rate', 'label_all', 'legend', 'reload']"
                           [show_tools]="'toggle'"
                           height="300px">
            </echarts-panel>
        </cols>
        <cols [span]="12">
            <echarts-box class="mt-8 bordered"
                           [req]="{url: './assets/store/pie.json'}"
                           [type]="'pie'"
                           [tools]="[ 'download', 'data_view', 'legend', 'reload', 'fullscreen']"
                           [setting]="{legend_position: 'center bottom'}"
                           [show_tools]="'toggle'"
                           [style.height]="'100%'">
            </echarts-box>
        </cols>
    </row>

    <row [gutter]="16" class="mt-8">
        <cols [span]="12">
            <echarts-box class="mt-8 bordered"
                         (result)="radarResult($event)"
                         [req]="{url: './assets/store/echarts-radar.json'}"
                         [type]="'radar'"
                         [tools]="[ 'download', 'data_view', 'legend', 'reload', 'fullscreen']"
                         [setting]="{legend_show: false, tooltip: true}"
                         [style.height]="'100%'">
            </echarts-box>
        </cols>
        <cols [span]="12">
            <echarts-panel class="mt-8 bordered" title="EchartsPanel::world cloud"
                           [req]="{url: './assets/store/echarts-world-cloud.json'}"
                           [type]="'wordCloud'"
                           [tools]="['fullscreen', 'download', 'data_view', 'line', 'bar', 'exchange', 'rate', 'label_all', 'legend', 'reload']"
                           height="300px">
            </echarts-panel>
        </cols>
    </row>

</div>